<div class="container">
    <h1 class="titulo" >Clientes</h1>
    <button mat-raised-button color="primary" (click)="onIncluir()" >Incluir</button>
    <mat-card *ngFor="let cliente of service.clientes$|async">
      <div class="mat-card-content" >
          <span><strong>Código </strong>{{ cliente.id }}</span>
          <span><strong>Nome </strong>{{ cliente.nome }}</span>
          <span><strong>Data de nascimento </strong>{{ cliente.dataNascimento| date:'dd/MM/yyyy' }}</span>
      </div>
      <div class="acoes">
        <button mat-raised-button (click)="onAlterar(cliente.id)" color="accent" >Alterar</button>
        <button mat-raised-button (click)="onExcluir(cliente.id)" color="warn" >Excluir</button>
      </div>
    </mat-card>
</div>
